
/* These are the basic styles, the minimum you will need. */

.menu-hamburger > .icon { cursor: pointer; }
.menu-hamburger > .icon .icon-show { display: none; }
.menu-hamburger > .icon .icon-hide { display: inline-block; }

.menu-hamburger.menu-hamburger-hidden > .content { display: none; }
.menu-hamburger.menu-hamburger-hidden > .icon .icon-show { display: inline-block; }
.menu-hamburger.menu-hamburger-hidden > .icon .icon-hide { display: none; }

@media (min-width: 800px) {
	/* 
		- To force the hamburger menu on all displays, remove this media query and the rules it contains. 
		- Don't forget to adapt the breakpoint to your own settings.
	*/
	.menu-hamburger > .icon { display: none; }
	.menu-hamburger.menu-hamburger-hidden > .content { display: block; }
}


/* These are the styles to make the menu look nice.
   You may want to replace these by your own design. */

.menu-hamburger {
	background: #fff;
	margin: 1em;
	border: 5px solid #000;
	float: none;
	padding: 1em;
}

.menu-hamburger.menu-hamburger-hidden {
	float: right; 
	padding: 0px;
}

.menu-hamburger > .icon {
	float: right;
	width: 3em;
	height: 3em;
	background: url('sprite-hamburger-icons.svg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0% 130%; 
}

.menu-hamburger.menu-hamburger-hidden > .icon {
	background-position: 0% -32%; 
}

.menu-hamburger > .icon .label {
	display: none;
}

@media (min-width: 800px) {
	.menu-hamburger,
	.menu-hamburger.menu-hamburger-hidden {
		background: transparent;
		margin: 0;
		border: 5px dashed #000;
		padding: .5em;
		float: none; 
	}

	.menu-hamburger .content > ul {
		list-type: none; 
		display: block;
	}

	.menu-hamburger .content > ul > li {
		display: inline-block;
		vertical-align: top;
		background: #fff;
		border: 5px solid #000;
		padding: .5em;
		margin-right: 1em;
	}
}


/* These are the styles for the Readme. */

body {
	background: #eee;
	color: #000;
}

#main {
	margin: 0px auto;
	max-width: 36em;
}

.sample-icon {
	display: inline-block;
	overflow: hidden;
	width: 1em;
	height: 1em;
}

.sample-icon img {
	position: relative;
	top: 0em;
	width: 1em;
	height: 2em;
}

.sample-icon img.sample-icon-close {
	position: relative;
	top: -1em;
}
